In [11]:
pip install wrds

Requirement already satisfied: wrds in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: sqlalchemy in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from wrds) (1.4.36)
Requirement already satisfied: psycopg2-binary in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from wrds) (2.9.3)
Requirement already satisfied: pandas in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from wrds) (1.4.2)
Requirement already satisfied: mock in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from wrds) (4.0.3)
Requirement already satisfied: numpy in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from wrds) (1.22.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from pandas->wrds) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from pandas->wrds) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from sqlalchemy->wrds) (1.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/sas/jupyterhub/prod/venvs/20220524/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->wrds) (1.16.0)
WARNING: There was an error checking the latest version of pip.
Note: you may need to restart the kernel to use updated packages.

In [12]:
import wrds
db = wrds.Connection()

Loading library list...
Done

In [13]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
lib
#sorted(lib)

Loading library list...
Done

['aha_sample',
 'ahasamp',
 'audit',
 'audit_audit_comp',
 'audit_common',
 'auditsmp',
 'auditsmp_all',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvd_orbis_large',
 'bvd_orbis_medium',
 'bvd_orbis_small',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'ciq',
 'ciq_common',
 'ciq_ratings',
 'ciq_transcripts',
 'ciqsamp',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_transcripts',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_ratings',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp_snapshot',
 'compseg',
 'comscore',
 'comscore_2018',
 'comscore_2019',
 'comscore_2020',
 'comscore_common',
 'contrib',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_q_indexes',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspq',
 'csmar',
 'csmar_financial',
 'csmar_funds',
 'csmar_trade',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'etfg',
 'etfg_analytics',
 'etfg_constituents',
 'etfg_fund_flow',
 'etfg_industry',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fisdsamp',
 'fisdsamp_all',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftse',
 'ftse_russell_us',
 'gmi',
 'gmi_all',
 'gutenberg',
 'hbase_sample',
 'hbsamp',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'iss_va_shareholder',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'mfl',
 'mflinks_all',
 'midas',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msrb',
 'msrb_all',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'preqin',
 'preqin_pe',
 'preqin_vc',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'ravenpack_trial',
 'reprisk_sample',
 'repsamp',
 'risk',
 'risk_directors',
 'risk_governance',
 'risk_proposals',
 'risk_votes',
 'risksamp',
 'risksamp_all',
 'rpnasamp',
 'rq_all',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snlsamp',
 'snlsamp_fig',
 'sprat',
 'sustain',
 'sustainalytics_all',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqm_2003',
 'taqm_2004',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqm_2021',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'tfn',
 'totalq',
 'totalq_all',
 'tr_13f',
 'tr_common',
 'tr_dealscan',
 'tr_ds_comds',
 'tr_ds_econ',
 'tr_ds_equities',
 'tr_ds_fut',
 'tr_ibes',
 'tr_ibes_guidance',
 'tr_ibes_iga',
 'tr_insiders',
 'tr_mutualfunds',
 'tr_ownership',
 'tr_worldscope',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trdssamp',
 'trdstrm',
 'trown',
 'trsamp',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsamp_worldscope',
 'trws',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'windsmp',
 'wrds_lib_internal',
 'wrds_sec_search',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_int_ginsight',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_finratio_ibes',
 'wrdsapps_finratio_ibes_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_trinsider',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec',
 'wrdssec_all',
 'wrdssec_bow',
 'wrdssec_common',
 'wrdssec_insiders',
 'wrdssec_midas',
 'wrdssec_secsa',
 'zacksamp',
 'zacksamp_all']

In [14]:
import wrds
db = wrds.Connection()
lib = db.list_libraries()
comp = [x for x in lib if 'comp' in x]
comp



#comp = list(filter(lambda x: 'comp' in x, lib))
#comp

#import re
#comp = [x for x in lib if re.search('comp', x)]
#comp

Loading library list...
Done

['audit_audit_comp',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_ratings',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp_snapshot',
 'compseg',
 'execcomp',
 'wrdsapps_link_comp_eushort']

In [15]:
import wrds
db = wrds.Connection()
tables = db.list_tables(library='comp_na_daily_all')
tables

Loading library list...
Done

['aco_amda',
 'aco_imda',
 'aco_indfnta',
 'aco_indfntq',
 'aco_indfntytd',
 'aco_indsta',
 'aco_indstq',
 'aco_indstytd',
 'aco_notesa',
 'aco_notesq',
 'aco_notessa',
 'aco_notesytd',
 'aco_pnfnda',
 'aco_pnfndq',
 'aco_pnfndytd',
 'aco_pnfnta',
 'aco_pnfntq',
 'aco_pnfntytd',
 'aco_transa',
 'aco_transq',
 'aco_transsa',
 'aco_transytd',
 'adsprate',
 'asec_amda',
 'asec_imda',
 'asec_notesa',
 'asec_notesq',
 'asec_transa',
 'asec_transq',
 'chars',
 'co_aacctchg',
 'co_aaudit',
 'co_adesind',
 'co_adjfact',
 'co_afnd1',
 'co_afnd2',
 'co_afnddc1',
 'co_afnddc2',
 'co_afntind1',
 'co_afntind2',
 'co_ainvval',
 'co_amkt',
 'co_busdescl',
 'co_cotype',
 'co_filedate',
 'co_fortune',
 'co_hgic',
 'co_iacctchg',
 'co_iaudit',
 'co_idesind',
 'co_ifndq',
 'co_ifndsa',
 'co_ifndytd',
 'co_ifntq',
 'co_ifntsa',
 'co_ifntytd',
 'co_imkt',
 'co_industry',
 'co_ipcd',
 'co_mthly',
 'co_offtitl',
 'company',
 'currency',
 'dd_group',
 'dd_group_xref',
 'dd_item',
 'dd_package',
 'ecind_desc',
 'ecind_mth',
 'exrt_dly',
 'exrt_mth',
 'funda',
 'funda_fncd',
 'fundq',
 'fundq_fncd',
 'idx_ann',
 'idx_anndes',
 'idx_daily',
 'idx_index',
 'idx_mth',
 'idx_qrt',
 'idx_qrtdes',
 'idxcst_his',
 'io_qaggregate',
 'io_qbuysell',
 'io_qchanges',
 'io_qfloatadj',
 'io_qholders',
 'it_mbuysell',
 'it_msummary',
 'it_r_rltn',
 'names',
 'names_aco_indsta',
 'names_aco_indstq',
 'names_aco_pnfnda',
 'names_aco_pnfndq',
 'names_adsprate',
 'names_ix',
 'names_ix_cst',
 'names_seg',
 'namesd',
 'namesm',
 'namesq',
 'r_accstd',
 'r_acqmeth',
 'r_auditors',
 'r_auopic',
 'r_balpres',
 'r_cf_formt',
 'r_co_status',
 'r_coindpre',
 'r_compstat',
 'r_consol',
 'r_country',
 'r_cstclscd',
 'r_datacode',
 'r_datafmt',
 'r_divtaxmarker',
 'r_docsrce',
 'r_ex_codes',
 'r_exchgtier',
 'r_exrt_typ',
 'r_fndfntcd',
 'r_footnts',
 'r_foricd',
 'r_giccd',
 'r_hcalendr',
 'r_idxclscd',
 'r_inactvcd',
 'r_incstats',
 'r_indfmt',
 'r_indsec',
 'r_invval',
 'r_issuetyp',
 'r_majidxcl',
 'r_mic_codes',
 'r_naiccd',
 'r_notetype',
 'r_ntsubtype',
 'r_offcrso',
 'r_ogmethod',
 'r_opinions',
 'r_prc_stat',
 'r_qsrcdoc',
 'r_sec_stat',
 'r_secannfn',
 'r_sectors',
 'r_siccd',
 'r_spiicd',
 'r_spmicd',
 'r_statalrt',
 'r_states',
 'r_stko',
 'r_titles',
 'r_updates',
 'sec_adesind',
 'sec_adjfact',
 'sec_afnd',
 'sec_afnddc',
 'sec_afnt',
 'sec_divid',
 'sec_dprc',
 'sec_dtrt',
 'sec_history',
 'sec_idesind',
 'sec_ifnd',
 'sec_ifnt',
 'sec_mdivfn',
 'sec_mshare',
 'sec_msptfn',
 'sec_mth',
 'sec_mthdiv',
 'sec_mthprc',
 'sec_mthspt',
 'sec_mthtrt',
 'sec_shortint',
 'sec_spind',
 'sec_split',
 'secd',
 'secm',
 'security',
 'sedolgvkey',
 'seg_ann',
 'seg_annfund',
 'seg_customer',
 'seg_geo',
 'seg_naics',
 'seg_product',
 'seg_type',
 'spidx_cst',
 'spind',
 'spind_dly',
 'spind_mth',
 'wrds_seg_customer',
 'wrds_seg_geo',
 'wrds_seg_product',
 'wrds_segmerged',
 'xfl_column',
 'xfl_table']

In [16]:
#import wrds
#db = wrds.Connection()
tables = db.list_tables(library='comp_na_daily_all')
tables 

#open file in write mode
with open(r'tables_OF_comp_na_daily_all.txt', 'w') as a:
    
    for b in tables:
        #write each item on a new line
        a.write("%s\n" % b)
    print()

In [17]:
import wrds
db = wrds.Connection()
column_headers = db.describe_table(library='comp_na_daily_all', table='fundq')
column_headers

#import wrds
#db = wrds.Connection()
#db.describe_table(library='comp_na_daily_all', table='fundq')

Loading library list...
Done
Approximately 1942729 rows in comp_na_daily_all.fundq.

         name  nullable              type comment
0       gvkey      True        VARCHAR(6)    None
1    datadate      True              DATE    None
2      fyearq      True  DOUBLE_PRECISION    None
3        fqtr      True  DOUBLE_PRECISION    None
4         fyr      True  DOUBLE_PRECISION    None
..        ...       ...               ...     ...
642   mkvaltq      True  DOUBLE_PRECISION    None
643     prccq      True  DOUBLE_PRECISION    None
644     prchq      True  DOUBLE_PRECISION    None
645     prclq      True  DOUBLE_PRECISION    None
646     adjex      True  DOUBLE_PRECISION    None

[647 rows x 4 columns]

In [27]:
import wrds
db = wrds.Connection()
db.describe_table(library='crsp_a_stock', table='msf')

Loading library list...
Done
Approximately 4922867 rows in crsp_a_stock.msf.

        name  nullable              type comment
0      cusip      True        VARCHAR(8)    None
1     permno      True  DOUBLE_PRECISION    None
2     permco      True  DOUBLE_PRECISION    None
3     issuno      True  DOUBLE_PRECISION    None
4      hexcd      True  DOUBLE_PRECISION    None
5     hsiccd      True  DOUBLE_PRECISION    None
6       date      True              DATE    None
7      bidlo      True  DOUBLE_PRECISION    None
8      askhi      True  DOUBLE_PRECISION    None
9        prc      True  DOUBLE_PRECISION    None
10       vol      True  DOUBLE_PRECISION    None
11       ret      True  DOUBLE_PRECISION    None
12       bid      True  DOUBLE_PRECISION    None
13       ask      True  DOUBLE_PRECISION    None
14    shrout      True  DOUBLE_PRECISION    None
15    cfacpr      True  DOUBLE_PRECISION    None
16   cfacshr      True  DOUBLE_PRECISION    None
17    altprc      True  DOUBLE_PRECISION    None
18    spread      True  DOUBLE_PRECISION    None
19  altprcdt      True              DATE    None
20      retx      True  DOUBLE_PRECISION    None

In [20]:
import wrds
db = wrds.Connection()
db.get_row_count(library='comp_na_daily_all', table='fundq')
#db.get_row_count('comp_na_daily_all', 'fundq')

Loading library list...
Done

1942729

In [ ]:
#import wrds
#db = wrds.Connection()

#db.list_libraries()

#db.list_tables(library='comp_na_daily_all')
#db.list_tables('comp_na_daily_all')

#db.describe_table(library='comp_na_daily_all', table='fundq')
#db.describe_table('comp_na_daily_all','fundq')

#db.get_row_count(library='comp_na_daily_all', table='fundq')
#db.get_row_count('comp_na_daily_all', 'fundq')

In [10]:
import wrds
#import pandas
db = wrds.Connection()

db.get_table(library='comp_na_daily_all', table='fundq', obs=10)
#db.get_table(library='comp_na_daily_all', table='fundq').head()
#db.get_table(library='comp_na_daily_all', table='fundq')

Loading library list...
Done

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,001000,1966-03-31,1966.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
1,001000,1966-06-30,1966.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
2,001000,1966-09-30,1966.0,3.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
3,001000,1966-12-31,1966.0,4.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
4,001000,1967-03-31,1967.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
5,001000,1967-06-30,1967.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
6,001000,1967-09-30,1967.0,3.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
7,001000,1967-12-31,1967.0,4.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
8,001000,1968-03-31,1968.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
9,001000,1968-06-30,1968.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999

In [12]:
import wrds
import pandas
db = wrds.Connection()

db.get_table(library='comp_na_daily_all', table='fundq', obs=10)
#db.get_table(library='comp_na_daily_all', table='fundq').head()
#db.get_table(library='comp_na_daily_all', table='fundq')

Loading library list...
Done

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,001000,1966-03-31,1966.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
1,001000,1966-06-30,1966.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
2,001000,1966-09-30,1966.0,3.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
3,001000,1966-12-31,1966.0,4.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
4,001000,1967-03-31,1967.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
5,001000,1967-06-30,1967.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
6,001000,1967-09-30,1967.0,3.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
7,001000,1967-12-31,1967.0,4.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
8,001000,1968-03-31,1968.0,1.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999
9,001000,1968-06-30,1968.0,2.0,12.0,INDL,C,D,STD,AE.2,...,I,USA,None,None,0.0,None,None,None,None,3.089999

In [ ]:
import wrds
import pandas
db = wrds.Connection()

#db.get_table(library='comp_na_daily_all', table='fundq', obs=10)
a = db.get_table(library='comp_na_daily_all', table='fundq').head()
#db.get_table(library='comp_na_daily_all', table='fundq')
a

In [29]:
import wrds
db = wrds.Connection()
amazon_ibm = db.raw_sql("""select gvkey, conm, datadate, cusip, tic, atq, ltq, teqq, niq
                        from comp_na_daily_all.fundq
                        where (tic = 'IBM' or tic = 'AMZN')
                        
                        and datadate>='01/01/2010' and datadate<='12/31/2020'""",
                     date_cols=['datadate'])
amazon_ibm

Loading library list...
Done

,gvkey,conm,datadate,cusip,tic,atq,ltq,teqq,niq
0,006066,INTL BUSINESS MACHINES CORP,2018-06-30,459200101,IBM,121622.0,102974.0,18648.0,2404.0
1,006066,INTL BUSINESS MACHINES CORP,2010-03-31,459200101,IBM,105208.0,83059.0,22149.0,2601.0
2,006066,INTL BUSINESS MACHINES CORP,2010-06-30,459200101,IBM,103420.0,82244.0,21176.0,3386.0
3,006066,INTL BUSINESS MACHINES CORP,2010-09-30,459200101,IBM,107174.0,84815.0,22359.0,3589.0
4,006066,INTL BUSINESS MACHINES CORP,2010-12-31,459200101,IBM,113452.0,90280.0,23172.0,5257.0
...,...,...,...,...,...,...,...,...,...
83,064768,AMAZON.COM INC,2019-12-31,023135106,AMZN,225248.0,163188.0,62060.0,3268.0
84,064768,AMAZON.COM INC,2020-03-31,023135106,AMZN,221238.0,155966.0,65272.0,2535.0
85,064768,AMAZON.COM INC,2020-06-30,023135106,AMZN,258314.0,184586.0,73728.0,5243.0
86,064768,AMAZON.COM INC,2020-09-30,023135106,AMZN,282179.0,199404.0,82775.0,6331.0
87,064768,AMAZON.COM INC,2020-12-31,023135106,AMZN,321195.0,227791.0,93404.0,7222.0

In [22]:
#re-arrange data items
import wrds
db = wrds.Connection()
amazon_ibm = db.raw_sql("""select datadate, gvkey, conm, tic, cusip, atq, ltq, niq, teqq
                        from comp_na_daily_all.fundq
                        where (tic = 'IBM' or tic = 'AMZN')
                        and datadate>='01/01/2010' and datadate<='12/31/2020'""",
                     date_cols=['datadate'])
amazon_ibm

Loading library list...
Done

,datadate,gvkey,conm,tic,cusip,atq,ltq,niq,teqq
0,2018-06-30,006066,INTL BUSINESS MACHINES CORP,IBM,459200101,121622.0,102974.0,2404.0,18648.0
1,2010-03-31,006066,INTL BUSINESS MACHINES CORP,IBM,459200101,105208.0,83059.0,2601.0,22149.0
2,2010-06-30,006066,INTL BUSINESS MACHINES CORP,IBM,459200101,103420.0,82244.0,3386.0,21176.0
3,2010-09-30,006066,INTL BUSINESS MACHINES CORP,IBM,459200101,107174.0,84815.0,3589.0,22359.0
4,2010-12-31,006066,INTL BUSINESS MACHINES CORP,IBM,459200101,113452.0,90280.0,5257.0,23172.0
...,...,...,...,...,...,...,...,...,...
83,2019-12-31,064768,AMAZON.COM INC,AMZN,023135106,225248.0,163188.0,3268.0,62060.0
84,2020-03-31,064768,AMAZON.COM INC,AMZN,023135106,221238.0,155966.0,2535.0,65272.0
85,2020-06-30,064768,AMAZON.COM INC,AMZN,023135106,258314.0,184586.0,5243.0,73728.0
86,2020-09-30,064768,AMAZON.COM INC,AMZN,023135106,282179.0,199404.0,6331.0,82775.0
87,2020-12-31,064768,AMAZON.COM INC,AMZN,023135106,321195.0,227791.0,7222.0,93404.0

In [23]:
amazon_ibm.to_csv('amazon_ibm.csv')

In [ ]:
###

In [117]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select permno, date, prc, ret, shrout 
                      from crsp_a_stock.msf 
                      where permno = 14593
                      and date>='01/01/2021'
                      and date<='12/31/2021'""", 
                      date_cols=['date'])
apple

Loading library list...
Done

     permno       date         prc       ret      shrout
0   14593.0 2021-01-29  131.960007 -0.005502  16788096.0
1   14593.0 2021-02-26  121.260002 -0.079532  16788096.0
2   14593.0 2021-03-31  122.150002  0.007340  16686305.0
3   14593.0 2021-04-30  131.460007  0.076218  16687631.0
4   14593.0 2021-05-28  124.610001 -0.050434  16687631.0
5   14593.0 2021-06-30  136.960007  0.099109  16556942.0
6   14593.0 2021-07-30  145.860001  0.064982  16530166.0
7   14593.0 2021-08-31  151.830002  0.042438  16530166.0
8   14593.0 2021-09-30  141.500000 -0.068037  16426786.0
9   14593.0 2021-10-29  149.800003  0.058657  16406397.0
10  14593.0 2021-11-30  165.300003  0.104940  16406397.0
11  14593.0 2021-12-31  177.570007  0.074229  16344923.0

In [3]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select permno, date, prc, ret, shrout 
                      from crsp_a_stock.msf 
                      where permno = 14593
                      and date>='01/01/2021'
                      and date<='12/31/2021'""", 
                      date_cols=['date'])
apple

Loading library list...
Done

     permno       date         prc       ret      shrout
0   14593.0 2021-01-29  131.960007 -0.005502  16788096.0
1   14593.0 2021-02-26  121.260002 -0.079532  16788096.0
2   14593.0 2021-03-31  122.150002  0.007340  16686305.0
3   14593.0 2021-04-30  131.460007  0.076218  16687631.0
4   14593.0 2021-05-28  124.610001 -0.050434  16687631.0
5   14593.0 2021-06-30  136.960007  0.099109  16556942.0
6   14593.0 2021-07-30  145.860001  0.064982  16530166.0
7   14593.0 2021-08-31  151.830002  0.042438  16530166.0
8   14593.0 2021-09-30  141.500000 -0.068037  16426786.0
9   14593.0 2021-10-29  149.800003  0.058657  16406397.0
10  14593.0 2021-11-30  165.300003  0.104940  16406397.0
11  14593.0 2021-12-31  177.570007  0.074229  16344923.0

In [4]:
apple.to_csv('apple.csv')

In [73]:
import pandas as pd
df = pd.read_csv('apple.csv')
print(df.to_string())

    Unnamed: 0   permno        date         prc       ret      shrout
0            0  14593.0  2021-01-29  131.960007 -0.005502  16788096.0
1            1  14593.0  2021-02-26  121.260002 -0.079532  16788096.0
2            2  14593.0  2021-03-31  122.150002  0.007340  16686305.0
3            3  14593.0  2021-04-30  131.460007  0.076218  16687631.0
4            4  14593.0  2021-05-28  124.610001 -0.050434  16687631.0
5            5  14593.0  2021-06-30  136.960007  0.099109  16556942.0
6            6  14593.0  2021-07-30  145.860001  0.064982  16530166.0
7            7  14593.0  2021-08-31  151.830002  0.042438  16530166.0
8            8  14593.0  2021-09-30  141.500000 -0.068037  16426786.0
9            9  14593.0  2021-10-29  149.800003  0.058657  16406397.0
10          10  14593.0  2021-11-30  165.300003  0.104940  16406397.0
11          11  14593.0  2021-12-31  177.570007  0.074229  16344923.0

In [137]:
import wrds
db = wrds.Connection()
apple = db.raw_sql("""select count (*)
                      from crsp_a_stock.msf 
                      """)
apple

Loading library list...
Done

     count
0  4834507

In [67]:
#db.list_tables(library='crsp_q_mutualfunds')
#db.describe_table(library='crsp_q_mutualfunds', table='fund_summary2')

mfs = db.raw_sql("""select fund_name, ticker, first_offer_dt, mgmt_fee
                    --select *
                    from crsp_q_mutualfunds.fund_summary2""")
mfs

,summary_period2,crsp_fundno,caldt,summary_period,nav_latest,nav_latest_dt,tna_latest,tna_latest_dt,yield,div_ytd,...,accrual_fund,sales_restrict,wbrger_obj_cd,policy,lipper_class,lipper_class_name,lipper_obj_cd,lipper_obj_name,lipper_asset_cd,lipper_tax_cd
0,A,1.0,1997-12-31,A,15.30,1997-12-31,81.0,1997-12-31,0.062007,0.948700,...,None,None,None,None,None,None,None,None,None,None
1,A,1.0,1998-12-31,A,15.07,1998-12-31,196.7,1998-12-31,0.067384,1.015472,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
2,Q,1.0,1999-03-31,Q,14.84,1999-03-31,217.2,1999-03-31,0.016527,0.245256,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
3,Q,1.0,1999-06-30,Q,14.40,1999-06-30,213.1,1999-06-30,0.034137,0.491576,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
4,Q,1.0,1999-09-30,Q,14.18,1999-09-30,208.4,1999-09-30,0.051997,0.737319,...,None,None,None,None,None,None,BBB,Corporate Debt Funds BBB-Rated,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62288,Q,100557.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000362,0.000362,...,Y,N,None,None,OTM,Other States Tax-Exempt Money Market Fds,OTM,OTHER STATES TAX-EXEMPT MONEY MARKET FDS,MB,Tax-Exempt
62289,Q,100558.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000360,0.000360,...,Y,N,None,None,OTM,Other States Tax-Exempt Money Market Fds,OTM,OTHER STATES TAX-EXEMPT MONEY MARKET FDS,MB,Tax-Exempt
62290,Q,100559.0,2022-09-30,Q,1.00,2022-09-30,0.1,2022-09-30,0.000382,0.000382,...,Y,N,None,None,NYM,New York Tax-Exempt Money Market Funds,NYM,NEW YORK TAX-EXEMPT MONEY MARKET FUNDS,MB,Tax-Exempt
62291,Q,100560.0,2022-09-30,Q,29.72,2022-09-30,25.6,2022-09-30,NaN,NaN,...,N,N,None,None,MLCE,Multi-Cap Core Funds,G,GROWTH FUNDS,EQ,Taxable
62292,Q,100561.0,2022-09-30,Q,9.97,2022-09-30,1.9,2022-09-30,NaN,NaN,...,N,N,None,None,IMLC,International Multi-Cp Core Fds,IF,INTERNATIONAL FUNDS,EQ,Taxable

In [136]:
mfs = db.raw_sql("""select fund_name, ticker, first_offer_dt, mgmt_fee
                    --select *
                    from crsp_q_mutualfunds.fund_summary2 LIMIT 03""")
mfs

                        fund_name ticker first_offer_dt  mgmt_fee
0  AARP Income Tr:Bond for Income  AABIX     1997-02-01    -0.282
1  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084
2  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084

In [100]:
import wrds
db = wrds.Connection()
#db.get_table(library='crsp_q_mutualfunds', table='fund_summary2', obs=3)
db.get_table(library='crsp_q_mutualfunds', table='fund_summary2', columns = ['fund_name', 'ticker', 'first_offer_dt', 'mgmt_fee'], obs=3)

Loading library list...
Done

                        fund_name ticker first_offer_dt  mgmt_fee
0  AARP Income Tr:Bond for Income  AABIX     1997-02-01    -0.282
1  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084
2  AARP Income Tr:Bond for Income  AABIX     1997-02-01     0.084

In [ ]:
import wrds
#import pandas
#import re
db = wrds.Connection()

#db.list_libraries()
#db.list_tables(library='crsp_a_stock')
#db.describe_table(library='crsp_a_stock', table='msf')
#db.get_table(library='crsp_a_stock', table='msf')
#db.get_table(library='crsp_a_stock', table='msf').head()
#db.get_table(library='crsp_a_stock', table='msf', obs=20)

#tables = db.list_tables(library='crsp_a_stock')
#open file in write mode
#with open(r'/home/smusg/ltee11/tables_OF_crsp_a_stock.txt', 'w') as a:
#    for b in tables:
        #write each item on a new line
#        a.write("%s\n" % b)
#    print()

In [56]:
import wrds
db = wrds.Connection()
c = db.raw_sql(""" select ticker, comnam, permno, ncusip, namedt, nameenddt
                   from crsp.stocknames """, date_cols=['namedt', 'nameenddt'])

c = c.loc[c.ticker.notnull()].sort_values(by=['permno','ticker','namedt'])
c

Loading library list...
Done

,ticker,comnam,permno,ncusip,namedt,nameenddt
0,OMFGA,OPTIMUM MANUFACTURING INC,10000.0,68391610,1986-01-07,1987-06-11
4,EGAS,ENERGY INC,10001.0,29269V10,2009-08-04,2009-12-17
5,EGAS,ENERGY INC,10001.0,29269V10,2009-12-18,2010-07-08
6,EGAS,GAS NATURAL INC,10001.0,36720410,2010-07-09,2017-08-03
2,EWST,ENERGY WEST INC,10001.0,29274A10,1993-11-22,2008-02-04
...,...,...,...,...,...,...
77774,VLTC,VOLTARI CORP,93433.0,92870X30,2013-04-24,2016-12-22
77775,SANW,S & W SEED CO,93434.0,78513510,2010-06-14,2022-03-31
77776,SCEI,SINO CLEAN ENERGY INC,93435.0,82936G20,2010-06-14,2012-05-18
77777,TSLA,TESLA MOTORS INC,93436.0,88160R10,2010-06-29,2017-02-01
77778,TSLA,TESLA INC,93436.0,88160R10,2017-02-02,2022-03-31

In [57]:
import wrds
db = wrds.Connection()
c = db.raw_sql(""" select ticker, comnam, permno, ncusip, namedt, nameenddt
                   from crsp.stocknames 
                   order by permno, namedt, ticker """)
c

Loading library list...
Done

,ticker,comnam,permno,ncusip,namedt,nameenddt
0,OMFGA,OPTIMUM MANUFACTURING INC,10000.0,68391610,1986-01-07,1987-06-11
1,GFGC,GREAT FALLS GAS CO,10001.0,39040610,1986-01-09,1993-11-21
2,EWST,ENERGY WEST INC,10001.0,29274A10,1993-11-22,2008-02-04
3,EWST,ENERGY WEST INC,10001.0,29274A20,2008-02-05,2009-08-03
4,EGAS,ENERGY INC,10001.0,29269V10,2009-08-04,2009-12-17
...,...,...,...,...,...,...
77774,VLTC,VOLTARI CORP,93433.0,92870X30,2013-04-24,2016-12-22
77775,SANW,S & W SEED CO,93434.0,78513510,2010-06-14,2022-03-31
77776,SCEI,SINO CLEAN ENERGY INC,93435.0,82936G20,2010-06-14,2012-05-18
77777,TSLA,TESLA MOTORS INC,93436.0,88160R10,2010-06-29,2017-02-01
77778,TSLA,TESLA INC,93436.0,88160R10,2017-02-02,2022-03-31

In [ ]:
###

In [25]:
import wrds
db = wrds.Connection()
index_div_yield = db.raw_sql("""
                                select  b.issue_type, 
                                        b.index_flag, 
                                        b.exchange_d, 
                                        b.sic, 
                                        b.secid, 
                                        b.ticker, 
                                        b.cusip, 
                                        a.date, 
                                        a.rate  
                                from optionm_all.idxdvd a, optionm_all.securd b
                                where a.secid = b.secid
                                and b.ticker = 'SPX'
                                and a.date >= '01/01/2020'
                                and a.date <= '12/31/2021'
                                order by a.date
                             """, 
                             date_cols=['a.date'])
index_div_yield.shape

Loading library list...
Done

(505, 9)

In [26]:
index_div_yield

,issue_type,index_flag,exchange_d,sic,secid,ticker,cusip,date,rate
0,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-02,1.777138
1,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-03,1.783770
2,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-06,1.804811
3,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-07,1.809661
4,A,1,32768.0,9999,108105.0,SPX,64881510,2020-01-08,1.797900
...,...,...,...,...,...,...,...,...,...
500,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-27,1.245086
501,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-28,1.248356
502,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-29,1.252619
503,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-30,1.246516
504,A,1,32768.0,9999,108105.0,SPX,64881510,2021-12-31,1.243227