In [ ]:
pip install wrds

In [1]:
import wrds
db = wrds.Connection()

Enter your WRDS username [lhtee]:ltee11
Enter your password:········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: y
Created .pgpass file successfully.
Loading library list...
Done

In [2]:
lib = db.list_libraries()
lib

['aha_sample',
 'ahasamp',
 'auditsmp',
 'auditsmp_all',
 'bank',
 'bank_all',
 'bank_premium_samp',
 'banksamp',
 'block',
 'block_all',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvd_amadeus_trial',
 'bvd_bvdbankf_trial',
 'bvd_orbis_large',
 'bvd_orbis_medium',
 'bvd_orbis_small',
 'bvd_orbis_trial',
 'bvdsamp',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'cboe_sample',
 'cboesamp',
 'ciq',
 'ciq_common',
 'ciq_pplintel',
 'ciq_ratings',
 'ciqsamp',
 'ciqsamp_capstrct',
 'ciqsamp_common',
 'ciqsamp_keydev',
 'ciqsamp_pplintel',
 'ciqsamp_ratings',
 'ciqsamp_transactions',
 'ciqsamp_transcripts',
 'cisdmsmp',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_ratings',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compg',
 'compm',
 'compsamp',
 'compsamp_all',
 'compsamp_snapshot',
 'compseg',
 'comscore',
 'comscore_2018',
 'comscore_2019',
 'comscore_2020',
 'comscore_common',
 'contrib',
 'contrib_as_filed_financials',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_global_factor',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'crsp',
 'crsp_a_ccm',
 'crsp_a_indexes',
 'crsp_a_stock',
 'crsp_q_indexes',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspq',
 'crspsamp',
 'crspsamp_all',
 'crspsamp_mf',
 'csmar',
 'csmar_financial',
 'csmar_funds',
 'csmar_trade',
 'csmsamp_all',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'etfg',
 'etfg_analytics',
 'etfg_constituents',
 'etfg_fund_flow',
 'etfg_industry',
 'etfg_samp',
 'etfgsamp',
 'eurekahedge_sample',
 'eursamp',
 'eventus',
 'evts_all',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'ff',
 'ff_all',
 'fisdsamp',
 'fisdsamp_all',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftse',
 'ftse_russell_us',
 'ftsesamp',
 'ftsesamp_russell_us',
 'gmi',
 'gmi_all',
 'gutenberg',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ibessamp_kpi',
 'ifgrsamp',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'insdsamp',
 'iri',
 'iri_all',
 'iss_va_shareholder',
 'issm',
 'issm_nasd1987',
 'issm_nasd1988',
 'issm_nasd1989',
 'issm_nasd1990',
 'issm_nasd1991',
 'issm_nasd1992',
 'issm_nyam1983',
 'issm_nyam1984',
 'issm_nyam1985',
 'issm_nyam1986',
 'issm_nyam1987',
 'issm_nyam1988',
 'issm_nyam1989',
 'issm_nyam1990',
 'issm_nyam1991',
 'issm_nyam1992',
 'kpisamp',
 'ktmine_patents_samp',
 'ktsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'mfl',
 'mflinks_all',
 'midas',
 'morningstarsamp_cisdm',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msci_esg_samp',
 'msciesmp',
 'msrb',
 'msrb_all',
 'msrbsamp',
 'msrbsamp_all',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'phlx',
 'phlx_all',
 'pitchsmp',
 'ppubsamp',
 'ppubsamp_d4d',
 'ppubsamp_rx_checkup',
 'preqin',
 'preqin_gp',
 'preqin_lp',
 'preqin_pe',
 'preqin_vc',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'ravenpack_trial',
 'reprisk_sample',
 'repsamp',
 'revelio_samp',
 'revsamp',
 'risk',
 'risk_directors',
 'risk_governance',
 'risk_proposals',
 'risk_votes',
 'risksamp',
 'risksamp_all',
 'rpnasamp',
 'rq_all',
 'rstat_samp',
 'rstatsmp',
 'sdc',
 'sdcsamp',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snlsamp',
 'snlsamp_fig',
 'sprat',
 'sustain',
 'sustainalytics_all',
 'sustainalyticssamp_all',
 'sustsamp',
 'taqm_2003',
 'taqm_2004',
 'taqm_2005',
 'taqm_2006',
 'taqm_2007',
 'taqm_2008',
 'taqm_2009',
 'taqm_2010',
 'taqm_2011',
 'taqm_2012',
 'taqm_2013',
 'taqm_2014',
 'taqm_2015',
 'taqm_2016',
 'taqm_2017',
 'taqm_2018',
 'taqm_2019',
 'taqm_2020',
 'taqm_2021',
 'taqm_2023',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'taqsamp_all',
 'tfn',
 'totalq',
 'totalq_all',
 'tr_13f',
 'tr_common',
 'tr_dealscan',
 'tr_ds_comds',
 'tr_ds_econ',
 'tr_ds_equities',
 'tr_ds_fut',
 'tr_ibes',
 'tr_ibes_guidance',
 'tr_ibes_iga',
 'tr_insiders',
 'tr_mutualfunds',
 'tr_ownership',
 'tr_sdc_joint_ventures',
 'tr_sdc_ma',
 'tr_sdc_ni',
 'tr_sdc_samples',
 'tr_worldscope',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trcommon',
 'trcstsmp',
 'trdbdmismp',
 'trdbwbsmp',
 'trdssamp',
 'trdstrm',
 'tresgsmp',
 'trown',
 'trsamp',
 'trsamp_all',
 'trsamp_db_dmi',
 'trsamp_db_wb',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsamp_esg',
 'trsamp_sdc_ma',
 'trsamp_sdc_ni',
 'trsamp_worldscope',
 'trucost_samp',
 'trws',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'wenvsmp',
 'wmfsmp',
 'wrds_environmental_samp',
 'wrds_insiders_samp',
 'wrds_lib_internal',
 'wrds_mutualfund_samp',
 'wrds_sec_search',
 'wrdsapps',
 'wrdsapps_backtest_basic',
 'wrdsapps_backtest_plus',
 'wrdsapps_eushort',
 'wrdsapps_evtstudy_int_ginsight',
 'wrdsapps_evtstudy_lr',
 'wrdsapps_finratio',
 'wrdsapps_finratio_ccm',
 'wrdsapps_finratio_ibes',
 'wrdsapps_finratio_ibes_ccm',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_ibes',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_crsp_taqm',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_link_dealscan_wscope',
 'wrdsapps_link_supplychain',
 'wrdsapps_patents',
 'wrdsapps_plink_exec_ciq',
 'wrdsapps_plink_exec_trinsider',
 'wrdsapps_plink_trinsider_ciq',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdssec',
 'wrdssec_all',
 'wrdssec_bow',
 'wrdssec_common',
 'wrdssec_insiders',
 'wrdssec_midas',
 'wrdssec_secsa',
 'zacksamp',
 'zacksamp_all']

In [3]:
tables = db.list_tables(library='tr_worldscope')
tables

['wrds_ws_company',
 'wrds_ws_funda',
 'wrds_ws_fundq',
 'wrds_ws_ids',
 'wrds_ws_pension',
 'wrds_ws_segments',
 'wrds_ws_stock',
 'wrds_ws_stock_header',
 'wscode',
 'wscurr',
 'wsddata',
 'wsfnote',
 'wsftext',
 'wsfye',
 'wsidata',
 'wsinfo',
 'wsitem',
 'wsldata',
 'wsmdata',
 'wsndata',
 'wssdata',
 'wstext',
 'wsxdata']

In [4]:
db.describe_table(library='tr_worldscope', table='wsndata')

Approximately 1693669504 rows in tr_worldscope.wsndata.

     name  nullable              type comment
0    code      True    NUMERIC(11, 0)    Code
1    item      True    NUMERIC(11, 0)    Item
2    freq      True        VARCHAR(1)    Freq
3   year_      True           INTEGER   Year_
4     seq      True           INTEGER     Seq
5  value_      True  DOUBLE_PRECISION  Value_
6   date_      True              DATE    None

In [5]:
# 18157 Capital Adequacy Ratio - Tier 1 
item_18157 = db.raw_sql("""
                        select count (*) 
                          from tr_worldscope.wsndata
                         where item = 18157
                        """)
item_18157

    count
0  123159

In [6]:
# 18157 Capital Adequacy Ratio - Tier 1 
item_18157 = db.raw_sql("""
                        select *--count (*) 
                          from tr_worldscope.wsndata
                         where item = 18157
                         limit 10
                        """)
item_18157

      code     item freq  year_  seq  value_       date_
0  54373.0  18157.0    @   2012    4    8.81  2012-12-31
1  54373.0  18157.0    @   2013    1    8.15  2013-03-31
2  54373.0  18157.0    @   2016    1   10.35  2016-03-31
3  54373.0  18157.0    @   2017    1    9.61  2017-03-31
4  54373.0  18157.0    @   2017    3    9.37  2017-09-30
5  54373.0  18157.0    @   2020    1   11.73  2020-03-31
6  54373.0  18157.0    @   2020    3   11.16  2020-09-30
7  54373.0  18157.0    A   2003    1    6.94  2003-12-31
8  54373.0  18157.0    A   2004    1    5.25  2004-12-31
9  54373.0  18157.0    A   2005    1    5.08  2005-12-31

In [7]:
item_18157.to_csv('tr_worldscope__wsndata_18157.csv')

In [8]:
# 15061 Non-Performing Loans % Total Loans
item_15061 = db.raw_sql("""
                        select *--count (*) 
                          from tr_worldscope.wsndata
                         where item = 15061
                           and year_ >= '2019'
                           and year_ <= '2023'
                         --and year_ in ('2019', '2020', '2021', '2022', '2023')
                         limit 10
                        """)
item_15061

      code     item freq  year_  seq   value_ date_
0  54985.0  15061.0    A   2019    1  1.10805  None
1  54985.0  15061.0    A   2020    1  0.62747  None
2  54985.0  15061.0    A   2021    1  0.43930  None
3  54985.0  15061.0    A   2022    1  0.31680  None
4  54985.0  15061.0    A   2023    1  0.40018  None
5  54985.0  15061.0    B   2019    1  1.10805  None
6  54985.0  15061.0    B   2020    1  0.62747  None
7  54985.0  15061.0    B   2022    1  0.31680  None
8  57481.0  15061.0    A   2019    1  5.91615  None
9  55724.0  15061.0    A   2019    1  6.45342  None